<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Desktop - 2</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/desktop2.css" />
</head>

<body>
  <div class="desktop-2">
    <div class="header">
      <div class="topbar">
        <div class="topbar-item">
          <div class="icon-tra-cuu-don-hang">
            <img class="img-tra-cuu" src="../static/vectors/vector1_x2.svg" />
          </div>
          <div class="tra-cuu-hang">
            <span class="tra-cuu-hang-1">
              Tra cứu đơn hàng
            </span>
          </div>
        </div>
        <div class="topbar-item">
          <div class="iconcart">
            <img class="img-gio-hang" src="../static/vectors/vector3_x2.svg" />
          </div>
          <div class="tra-cuu-hang">
            <span class="tra-cuu-hang-1">
              Giỏ hàng
            </span>
          </div>
        </div>
        <div class="topbar-item">
          <div class="icon-dang-nhap">
            <img class="img-dang-nhap" src="../static/assets/vectors/vector11_x2.svg" />
          </div>
          <div class="tra-cuu-hang">
            <span class="tra-cuu-hang-1">
              Đăng nhập
            </span>
          </div>
        </div>
      </div>

      <div class="menu">

        <div class="logo"> <img src="../static/images/image2.png" alt="">
        </div>
        <ul class="nav-bar">
          <div class="sn-phm">
            <li class="item-menu">
              <a href="./desktop2.html" style="color: black; text-decoration: none;">SẢN PHẨM</a>
            </li>

            <li class="line-16">
            </li>

            <li class="item-menu">
              NAM
            </li>

            <li class="line-16">
            </li>

            <li class="item-menu">
              NỮ
            </li>

            <li class="line-16">
            </li>

            <li class="item-menu">
              SẢN PHẨM MỚI
            </li>

            <li class="line-16">
            </li>

            <li class="item-menu">
              KHUYẾN MÃI
            </li>

          </div>
        </ul>
      </div>
      <div class="hot-news">
        <span class="free-shipping-vi-hon-t-900-k">
          Free Shipping với hoá đơn từ 900k
        </span>
        <div class="search-box">
          <span class="search">
            Search
          </span>
        </div>
      </div>
    </div>
    <div class="container-5">
      <div class="menu-1">
        <div class="tt-cnam-n">
          <div class="component-8">
            <div class="component-81">
              <span class="tt-c">
                TẤT CẢ
              </span>
            </div>
          </div>
          <div class="component-9">
            <div class="component-82">
              <span class="tt-c">
                NAM
              </span>
            </div>
          </div>
          <div class="component-10">
            <div class="component-83">
              <span class="tt-c">
                NỮ
              </span>
            </div>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi">
          <div class="tr-ng-th-i">
            TRẠNG THÁI
          </div>
          <div class="component-11">
            <span class="limited-edition">
              Limited edition
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition">
              Online only
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition">
              Sale off
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition">
              New arrival
            </span>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi">
          <div class="tr-ng-th-i">
            KIỂU DÁNG
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Low top
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              High top
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Slip-on
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Mid top
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Mule
            </span>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi">
          <div class="tr-ng-th-i">
            DÒNG SẢN PHẨM
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Basas
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Vintas
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Urbas
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Pattas
            </span>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi">
          <div class="tr-ng-th-i">
            GIÁ
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              &gt;600k
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              300k - 599k
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              100k - 299k
            </span>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi">
          <div class="tr-ng-th-i">
            CHẤT LIỆU
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Canvas
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Suede
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Leather
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              Cotton
            </span>
          </div>
        </div>
      </div>
      <div class="banner-list-sp">
        <div class="banner">
        </div>
        <div class="list-san-pham">
          <div class="container-4">
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle37.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle66.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle39.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
          </div>
          <div class="container-4">
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle40.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle41.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle42.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
          </div>
          <div class="container-4">
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle43.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle44.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle45.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
          </div>
          <div class="container-4">
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle46.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle47.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle48.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
          </div>
          <div class="container-4">
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle49.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle50.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
            <div class="san-pham">
              <div class="rectangle-38"> <img src="../static/images/rectangle51.png" alt="">
              </div>
              <div class="tn-giy">
                <span class="tn-giy-1">
                  Tên giày
                </span>
              </div>
              <span class="vnd">
                500000 VND
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="rectangle-22">
      </div>
      <div class="rectangle-23">
      </div>
      <div class="rectangle-24">
      </div>
    </div>
  </div>
</body>

</html>