<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Desktop - 1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/desktop1.css" />
</head>

<body>
  <div class="desktop-1">
    <div class="header">
      <div class="topbar">
        <div class="container-17">
          <div class="iconbox">
            <img class="vector" src="../static/vectors/vector1_x2.svg" />
          </div>
          <div class="tra-cun-hng">
            <span class="tra-cun-hng-1">
              Tra cứu đơn hàng
            </span>
          </div>
        </div>
        <div class="container-16">
          <div class="iconcart">
            <img class="vector-1" src="../static/vectors/vector3_x2.svg" />
          </div>
          <div class="gi-hng">
            <span class="gi-hng-1">
              Giỏ hàng
            </span>
          </div>
        </div>
        <div class="container-1">
          <div class="iconperson">
            <img class="vector-2" src="../static/vectors/vector11_x2.svg" />
          </div>
          <div class="ng-nhp">
            <span class="ng-nhp-1">
              Đăng nhập
            </span>
          </div>
        </div>
      </div>

      <div class="menu">

        <div class="logo"> <img src="../static/images/image2.png" alt="">
        </div>
        <ul class="nav-bar">
          <div class="sn-phm">
            <li class="sn-phm-5">
              <a href="./desktop2.html" style="color: black; text-decoration: none;">SẢN PHẨM</a>

            </li>

            <li class="line-16">
            </li>

            <li class="sn-phm-5">
              NAM
            </li>

            <li class="line-16">
            </li>

            <li class="sn-phm-5">
              NỮ
            </li>

            <li class="line-16">
            </li>

            <li class="sn-phm-5">
              SẢN PHẨM MỚI
            </li>

            <li class="line-16">
            </li>

            <li class="sn-phm-5">
              KHUYẾN MÃI
            </li>

          </div>
        </ul>
      </div>
      <div class="container-3">
        <span class="free-shipping-vi-hon-t-900-k">
          Free Shipping với hoá đơn từ 900k
        </span>
        <div class="container-15">
          <span class="search">
            Search
          </span>
        </div>
      </div>
    </div>
    <div class="banner">
    </div>
    <div class="kbit-gi-lg">
      <div class="rectangle-9">
      </div>
      <div class="rectangle-10">
      </div>
    </div>
    <div class="mua-sm-theo-nhu-cu">
      <div class="mua-smtheo-nhu-cu">
        MUA SẮM THEO NHU CẦU
      </div>
      <div class="container-4">
        <div class="rectangle-11">
        </div>
        <div class="rectangle-12">
        </div>
        <div class="rectangle-13">
        </div>
        <div class="rectangle-14">
        </div>
        <div class="rectangle-15">
        </div>
      </div>
    </div>
    <div class="sn-phm-bn-chy">
      <div class="snph-mbnch-y">
        SẢN PHẨM BÁN CHẠY
      </div>
      <div class="container-11">
        <div class="rectangle-16">
        </div>
        <div class="rectangle-17">
        </div>
        <div class="rectangle-18">
        </div>
        <div class="rectangle-19">
        </div>
        <div class="rectangle-20">
        </div>
      </div>
    </div>
    <div class="tin-tc-bi-vit">
      <div class="tin-tcbivi-t">
        TIN TỨC &amp; BÀI VIẾT
      </div>
      <div class="container-8">
        <div class="rectangle-25">
        </div>
        <div class="rectangle-26">
        </div>
        <div class="rectangle-27">
        </div>
      </div>
      <div class="container">
        <div class="container-7">
          <span class="tn-tin-tc">
            Tên tin tức
          </span>
        </div>
        <div class="container-2">
          <span class="tn-tin-tc-1">
            Tên tin tức
          </span>
        </div>
        <div class="container-10">
          <span class="tn-tin-tc-2">
            Tên tin tức
          </span>
        </div>
      </div>
      <div class="container-9">
        <div class="container-6">
          <span class="ni-dung-cch-xem-thm">
            Nội dung có chữ xem thêm
          </span>
        </div>
        <div class="container-12">
          <span class="ni-dung-cch-xem-thm-1">
            Nội dung có chữ xem thêm
          </span>
        </div>
        <div class="container-14">
          <span class="ni-dung-cch-xem-thm-2">
            Nội dung có chữ xem thêm
          </span>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="rectangle-22">
      </div>
      <div class="rectangle-23">
      </div>
      <div class="rectangle-24">
      </div>
    </div>
  </div>
</body>

</html>