<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Desktop - 1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <!-- Link to desktop1.css -->
  <link rel="stylesheet" href="../static/css/desktop1.css" />
  <!-- Box icons-->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

  <!-- Header section -->
  <header>
    <!-- Tra cứu đơn hàng -->
    <div class="content">
      <a href="#"><i class='bx bx-archive'></i> Tra cứu đơn hàng</a>
    </div>
    <!-- Giỏ hàng -->
    <div class="content">
      <a href="#"><i class='bx bx-cart-alt' ></i> Giỏ hàng</a>
    </div>
    <!-- Đăng nhập -->
    <div class="content">
      <!--<a href="#"><i class='bx bx-user'></i> Đăng nhập</a>-->
      <a href="#" class="account" id="account" onclick="toggleDropdown(event)"><i class='bx bx-user'></i> Tài Khoản</a>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#" id="logout">Đăng xuất</a>
      </div>
    </div>
  </header>
  
  <!-- Navbar section -->
  <section class="logo-and-navbar" >
    <a href="#" class="logo"><img src="../static/images/logo.png" alt=""></a>

    <ul class="navbar">
      <li><a href="./desktop2.html">SẢN PHẨM</a></li>
      <li><p>|</p></li>
      <li><a href="#male">NAM</a></li>
      <li><p>|</p></li>
      <li><a href="#female">NỮ</a></li>
      <li><p>|</p></li>
      <li><a href="#new-products">SẢN PHẨM MỚI</a></li>
      <li><p>|</p></li>
      <li><a href="#discount">KHUYẾN MÃI</a></li>
    </ul>
  </section>

  <!-- Banner section-->
  <section class="banner">
    <div class="content">
      <h2>Free Shipping với hóa đơn từ 900k</h2>
      <div class="search">
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search"> 
      </div>
    </div>
    <img src="../static/images/PATTAS_TOMO.png" alt="" class="big-banner">
    <div class="sub-banner">
      <img src="../static/images/grey.png" alt="">
      <img src="../static/images/grey.png" alt="">
    </div>
  </section>

  <!-- Shopping section -->
  <section class="shop">
    <h2 class="content">
      Mua sắm theo nhu cầu
    </h2>
    <div class="content-container">
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
    </div>
  </section>

  <!-- Most selling products-->
  <section class="most-sell-products">
    <h2 class="content">
      sản phẩm bán chạy
    </h2>
    <div class="content-container">
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
      <a href="#"><img src="../static/images/grey.png" alt=""></a>
    </div>
  </section>

  <!-- News and Posts -->
  <section class="news-and-posts">
    <h2 class="content">
      Tin tức & bài viết
    </h2>
    <div class="content-container">
      <div class="box">
        <img src="../static/images/rectangle25.png" alt="">
        <p class="name">Tên tin tức</p>
        <p class="info">nội dung có chữ <br><a href="#">xem them</a></p>
        
      </div>
      <div class="box">
        <img src="../static/images/rectangle26.png" alt="">
        <p class="name">tên tin tức</p>
        <p class="info">nội dung có chữ <br><a href="#">xem them</a></p>
        
      </div>
      <div class="box">
        <img src="../static/images/rectangle27.png" alt="">
        <p class="name">tên tin tức</p>
        <p class="info">nội dung có chữ <br><a href="#">xem them</a></p>
        
      </div>
    </div>

  </section>

  <!-- footer section -->
  <footer>
  
  </footer>
  <script src="../static/js/x.js"></script>
  <script src="./header.js"></script>
</body>
</html>