<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Desktop - 2</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/desktop2.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <div class="desktop-2">
    <div class="header">
      <div class="topbar">
        <div class="topbar-item">
          <div class="icon-tra-cuu-don-hang">
            <img class="img-tra-cuu" src="../static/vectors/vector1_x2.svg" />
          </div>
          <div class="tra-cuu-hang">
            <span class="tra-cuu-hang-1">
              Tra cứu đơn hàng
            </span>
          </div>
        </div>
        <div class="topbar-item">
          <div class="iconcart">
            <img class="img-gio-hang" src="../static/vectors/vector3_x2.svg" />
          </div>
          <div class="tra-cuu-hang">
            <span class="tra-cuu-hang-1">
              Giỏ hàng
            </span>
          </div>
        </div>
        <div class="topbar-item">
          <div class="icon-dang-nhap">
            <img class="img-dang-nhap" src="../static/vectors/vector11_x2.svg" />
          </div>
          <div class="tra-cuu-hang">
            <span class="tra-cuu-hang-1">
              Đăng nhập
            </span>
          </div>
        </div>
      </div>

      <div class="menu">

        <a href="./desktop1.html" class="logo"> <img src="../static/images/image2.png" alt=""></a>
        <ul class="nav-bar">
          <div class="sn-phm">
            <li class="item-menu">
              <a class="item" href="./desktop2.html">SẢN PHẨM</a>
            </li>

            <li class="line-16">
            </li>

            <li class="item-menu">
              <a class="item" href=""> NAM</a>
            </li>

            <li class="line-16">
            </li>

            <li class="item-menu">
              <a class="item" href=""> NỮ</a>
            </li>

            <li class="line-16">
            </li>

            <li class="item-menu">
              <a class="item" href=""> SẢN PHẨM MỚI</a>
            </li>

            <li class="line-16">
            </li>

            <li class="item-menu">
              <a class="item" href=""> KHUYẾN MÃI</a>
            </li>

          </div>
        </ul>
      </div>
      <div class="hot-news">
        <span class="free-shipping-vi-hon-t-900-k">
          Free Shipping với hoá đơn từ 900k
        </span>
        <div class="search-box">
          <span class="search">
            Search
          </span>
        </div>
      </div>
    </div>
    <div class="container-5">
      <div class="menu-1">
        <div class="tt-cnam-n">
          <div class="component-8">
            <div class="component-81">
              <a href="" class="tat-ca">
                TẤT CẢ
              </a>
            </div>
          </div>
          <div class="component-9">
            <div class="component-82">
              <a href="" class="tat-ca">
                NAM
              </a>
            </div>
          </div>
          <div class="component-10">
            <div class="component-83">
              <a href="" class="tat-ca">
                NỮ
              </a>
            </div>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi">
          <div class="tr-ng-th-i">
            TRẠNG THÁI
          </div>
          <div class="component-11">
            <span class="limited-edition">
              Limited edition
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition">
              Online only
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition">
              Sale off
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition">
              New arrival
            </span>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi" id="kieu-dang">
          <div class="tr-ng-th-i">
            KIỂU DÁNG
          </div>
          
          <!-- call api kieu dang  "http://localhost:8080/product/allstyle" -->

        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi" id="dong-san-pham">
          <div class="tr-ng-th-i">
            DÒNG SẢN PHẨM
          </div>
         <!--call api -->
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi">
          <div class="tr-ng-th-i">
            GIÁ
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              &gt;600k
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              300k - 599k
            </span>
          </div>
          <div class="component-11">
            <span class="limited-edition-1">
              100k - 299k
            </span>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="trng-thi">
          <div class="tr-ng-th-i" id="chat-lieu">
            CHẤT LIỆU
          </div>
          <!--call api chat lieu-->
        </div>
      </div>
      <div class="banner-list-sp">
        <div class="banner">
        </div>
        <div class="list-san-pham">
          <div id="container-san-pham" class="container-4">
            <!-- call api list san pham -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="rectangle-22">
      </div>
      <div class="rectangle-23">
      </div>
      <div class="rectangle-24">
      </div>
    </div>
  </div>

  <script src="./listproduct.js"></script>  
</body>

</html>