<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
    <div class="form-login">
        <div class="login">
            <h2>Login now</h2>
        </div>
        <form action="http://localhost:8080/login/signin" method="post">
            <div><input id="username" type="text" name="username" placeholder="Enter your username">
            </div>
            <div>
                <input id="password" type="text" name="password" placeholder="Enter your password">
            </div>
            <div class="button-container">
                <button id="btn-login">Login</button>
                <button>Register</button>
            </div>
        </form>
    </div>
    <script src="./custom.js"></script>
</body>
</html>


