<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Shoe Shop</title>
        <!-- Link to login.css -->
        <link rel="stylesheet" 
        href="../static/css/login.css" />

        <!-- Link to Box icons -->
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    </head>
<body>
    <!-- Form login-->
    <div class="form-login">
        <div class="login">
            <h2>Login</h2>
        </div>
        <form action="">
            <!-- Username box-->
            <div class="username-box">
                <i class='bx bx-user'></i>
                <input type="text" name="username" placeholder="Enter your username">
            </div>
            <!-- Password box-->
            <div class="password-box">
                <i class='bx bx-key' ></i>
                <input type="text" name="password" placeholder="Enter your password">
            </div>
            <!-- Content box-->
            <div class="content">
                <div class="remember-box">
                    <input type="checkbox" id="remember-me" value="remember" name="remember">
                    <label for="remember-me">Remember me</label>
                </div>
                <div class="forgot-password-box">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
            <!-- Login button-->
            <div class="button-container">
                <button class="btn-login" >Login</button>
            </div>
            <!-- Signup Box-->
            <div class="signup-link">
                <p>Not a member? <a href="#">Signup now</a></p>
            </div>
        </form>
    </div>
</body>
</html>